<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.11" targetFramework="net452" />
  <package id="Optional" version="3.2.0" targetFramework="net452" />
  <package id="PowerArgs" version="2.7.2.0" targetFramework="net452" />
  <package id="SmartFormat.NET" version="2.0.0.0" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net452" developmentDependency="true" />
</packages>